* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#card-table {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.char-card{
    max-width: 216px;
    height: 300px;
    margin: 25px;
    /* border: solid black 1px; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    display: grid;
    grid-row: 80% 20%;
}

.char-img {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
}

.char-name{
    margin: auto;
    text-align: center;
}

/* Loading Animation */
#loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

#loading.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}