* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #01b4c6;
}

main {
    margin: 0px;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #0b818b;
    box-shadow: 0px 0px 2px 3px  #0b818b;
    z-index: 100;
}

#logo {
    width: 10%;
    min-width: 180px;
    background-color: #0b818b;
    margin: 0px 50px;
}

/* Main carrds section */
#card-table {
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.char-card{
    position: relative;
    max-width: 216px;
    height: 300px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    background-color: #BEE5fD;
    display: grid;
    grid-row: 70% 20%;
}

.char-img {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    margin-top: 17%;
    box-shadow: 0px 0px 5px 5px #F675Da;
}

.char-name{
    margin: auto;
    text-align: center;
    background-color: #BEE5fD;
}

.char-id {
    position: absolute;
    right: 10px;
    top: -10px;
    background-color: rgba(0,0,0,0);
    width: 20px;
    text-align: end;
}

/* Loading Animation */
#loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
    transition: opacity .3s ease-in;
    background-color: rgba(0, 0, 0, 0);
}

#loading.show {
	opacity: 1;
}

.ball {
	background-color: #FFF874;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}