* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #01b4c6;
}

main {
    margin: 0px;  
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #0b818b;
    box-shadow: 0px 0px 2px 3px  #0b818b;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    /* position: absolute; */
    width: 15%;
    min-width: 150px;
    max-height: 95%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 30px;
    margin-right: auto;
}

#navbarList {
    list-style: none;
}

#navbarList li{
    display: inline-block;
    margin: 10px;
}

#allCharBtn {
    font-size: 1.3em;
    color:  #FFF874;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: block;
}

#allCharBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Search bar */
#search-field {
    margin-right: 30px;
    margin-left: auto;
    width: 25%;
    min-width: 200px;
    height: 40px;
}

#search-bar{
    width: 100%;
    min-width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    background-color: #01b4c6;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.6;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.6;
}

#search-input{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    width: 90%;
    min-width: 100px;
    height: 100%;
    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.3em;
}

#search-btn{
    margin: 0px;
    padding: 0px;
    width: 10%;
    min-width: 40px;
    height: 100%;
    border-style: none;
    border-left: 1px solid black;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

#search-btn:hover {
    cursor: pointer;
}

/* Filters */
.filter-btn{
    margin: auto;
    background-color: #01b4c6;
    border: 1px solid black;
    border-radius: 10px;
}

.filter-btn:hover{
    cursor: pointer;
}

#show-filter-btn{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 2px 4px;
}

.up {
    transform: rotate(-135deg);
    transform: translateY(10px);
    -webkit-transform: rotate(-135deg);
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filters-tab {
    background-color: #01b4c6;
    border: 1px solid black;
    border-radius: 10px;
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8em;
    visibility: hidden;
}

.show-filter-tab {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s
}

select{
    width: 110px;
}

.filter{
    margin: 0px 10px;
    width: 60px;
}

#status-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#species-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#gender-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#reset-filter-btn{
    margin: 4px auto;
    padding: 3px;
}

/* Main cards section */
#card-table {
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.char-card{
    position: relative;
    max-width: 216px;
    height: 300px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    background-color: #BEE5fD;
    display: grid;
    grid-row: 70% 20%;
}

.char-card:hover {
    cursor: pointer;
}

.char-img {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    margin-top: 17%;
    box-shadow: 0px 0px 5px 5px #F675Da;
    border-radius: 50%;
}

.char-name{
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
}

.char-id {
    position: absolute;
    right: 10px;
    top: -10px;
    background-color: rgba(19, 0, 0, 0);
    width: 20px;
    text-align: end;
}

@media only screen and (max-width: 580px) {
    .char-card {
        margin: 5px;
    }
}

#message {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 60%;
    margin: auto;
    margin-top: 10%;
    font-size: 2rem;
    text-align: center;
    z-index: 50;
    color: rgba(0, 0, 0, 0.7);
    
}

/* Detail Card */
.card-detail {
    position: fixed;
    width: 400px;
    max-width: 90%;
    height: 600px;
    background-color: #BEE5fD;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    z-index: 10;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}

#close-btn {
    background-color: #ff0000;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    left: -14px;
    top: -14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
}

#close-btn:hover {
    cursor: pointer;
}

#char-img-detail {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 5px #F675Da;
}

#char-detail-list {
    padding: 0;
    margin: 15px auto;
    margin-left: 2px;
    list-style-type: none;
}

.char-detail-items {
    margin: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.char-detail-items span {
    font-weight: lighter;
}

#char-id-detail {
    position: absolute;
    right: 10px;
    top: -7px;
}

/* FadeIn animation for details card and filters tab*/
.show-detail-card {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Loading Animation */
#loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
    transition: opacity .3s ease-in;
    background-color: rgba(0, 0, 0, 0);
}

.ball {
	background-color: #FFF874;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}