* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #01b4c6;
}

main {
    margin: 0px;  
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #0b818b;
    box-shadow: 0px 0px 2px 3px  #0b818b;
    z-index: 100;
    display: flex;
}

#logo {
    position: absolute;
    width: 15%;
    min-width: 150px;
    max-height: 95%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 30px;
}

/* Search bar */
#search-bar{
    margin: auto;
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #01b4c6;
}

#search-input{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    width: 90%;
    min-width: 100px;
    height: 100%;
    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.3em;
}

#search-btn{
    margin: 0px;
    padding: 0px;
    width: 10%;
    min-width: 40px;
    height: 100%;
    border-style: none;
    border-left: 1px solid black;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

#search-btn:hover {
    cursor: pointer;
}

/* Main cards section */
#card-table {
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.char-card{
    position: relative;
    max-width: 216px;
    height: 300px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    background-color: #BEE5fD;
    display: grid;
    grid-row: 70% 20%;
}

.char-card:hover {
    cursor: pointer;
}

.char-img {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    margin-top: 17%;
    box-shadow: 0px 0px 5px 5px #F675Da;
    border-radius: 50%;
}

.char-name{
    margin: auto;
    text-align: center;
    background-color: #BEE5fD;
}

.char-id {
    position: absolute;
    right: 10px;
    top: -10px;
    background-color: rgba(19, 0, 0, 0);
    width: 20px;
    text-align: end;
}

/* Detail Card */
.card-detail {
    position: fixed;
    width: 400px;
    max-width: 90%;
    height: 520px;
    background-color: #BEE5fD;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    z-index: 10;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}

#close-btn {
    background-color: #ff0000;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    left: -14px;
    top: -14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
}

#close-btn:hover {
    cursor: pointer;
}

#char-detail-list {
    padding: 0;
    margin: 30px auto;
    list-style-type: none;
}

.char-detail-items {
    margin: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.char-detail-items span {
    font-weight: lighter;
}

#char-id-detail {
    position: absolute;
    right: 10px;
    top: -7px;
}

#char-img-detail {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 5px #F675Da;
}

/* FadeIn animation for details card */
.show-detail-card {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Loading Animation */
#loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
    transition: opacity .3s ease-in;
    background-color: rgba(0, 0, 0, 0);
}

.ball {
	background-color: #FFF874;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}